@charset 'UTF-8';


body {
    background-image: url(./images/spider.jpg.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: inherit;
    background-color: black;
    color: white;
}

h1#principal:hover {
    display: block
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    color: red;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px rgb(58, 13, 10)
    
}

div {
    text-align: center;
    border: solid;
    border-color: red;
    
}